## Microdados do Censo da Educação Superior 2021
Fonte dos Dados: https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/censo-da-educacao-superior

In [ ]:
#14,15,19,20,25,46

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#Bibliotecas
import pandas as pd
import numpy as np

In [18]:
dados = pd.read_table("/content/drive/MyDrive/CDIA 2023 1/Coleta, Preparação e Análise de Dados/T2/MICRODADOS_CADASTRO_IES_2021.CSV", encoding='latin-1', delimiter=';') #Lê csv

### Sugestão do professor, reduzir o número de entries a partir de algum tipo de filtragem

In [21]:
dados['NO_REGIAO_IES'].unique()

array(['Centro-Oeste', 'Nordeste', 'Norte', 'Sudeste', 'Sul'],
      dtype=object)

In [22]:
dadosSul = dados[dados['NO_REGIAO_IES']=='Sul']

In [ ]:
dadosSul[]

In [ ]:
dadosSul = dadosSul[['SG_UF_IES',"TP_ORGANIZACAO_ACADEMICA","TP_CATEGORIA_ADMINISTRATIVA","NO_IES",'SG_IES',"NU_CEP_IES","QT_DOC_TOTAL","QT_DOC_EX_FEMI","QT_DOC_EX_MASC"]]

In [27]:
dadosSul.head()

,SG_UF_IES,TP_ORGANIZACAO_ACADEMICA,TP_CATEGORIA_ADMINISTRATIVA,NO_IES,SG_IES,NU_CEP_IES,QT_DOC_TOTAL,QT_DOC_EX_FEMI,QT_DOC_EX_MASC
8,PR,1,2,UNIVERSIDADE ESTADUAL DE LONDRINA,UEL,86057970.0,1820,932,860
9,PR,1,5,PONTIFÍCIA UNIVERSIDADE CATÓLICA DO PARANÁ,PUCPR,80215901.0,1349,575,774
11,RS,1,1,UNIVERSIDADE FEDERAL DO RIO GRANDE,FURG,96203900.0,986,479,491
12,RS,1,5,UNIVERSIDADE DE CAXIAS DO SUL,UCS,95070560.0,796,409,379
13,RS,1,5,UNIVERSIDADE DO VALE DO RIO DOS SINOS,UNISINOS,93022750.0,917,431,471

In [29]:
dadosSul.to_json("DadosIES_Sul.json")